@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}
header {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.899);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .tags-container {
    flex-direction: column;
  }
}
.social-icon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 12px;
  background-color: transparent;
  border: 2px solid #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.social-icon i {
  color: #fff;
  transition: color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.8); 
}

.social-icon:hover i {
  color: #fff; 
}
@media (max-width: 768px) {
  .social-icon {
    padding: 10px;
  }
}
.name{
  font-family: 'Montserrat', sans-serif;
}
